@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.categories h1{
    color: brown;
    font-size: 60px;
    margin-left: 550px;
    font-weight: 30px;
    letter-spacing: 0.25px;
    font-family: 'Nunito';
}
.categories p{
    margin-left: 500px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.seperetor1 img{
    width: 50%;
    height: 30px;
    margin-left: 25%;
}
.row .col-1{
    flex-basis:  40%;
    margin-bottom: 30px;
}

.col-1 img{
    width: 300px;
    height: 500px;
    box-shadow: 0 0 15px rgba(247, 74, 106, 0.425); 
}

.small-container{
    max-width: 1080px;
    margin-left: 220px;
    padding: 60;
}

.small-container .row{
    display: flex;
    margin-top: 50px;
}